[Unit]
After=getty.target

[Service]
ExecStart=/opt/workspace/acrn-board-parser.sh
StandardOutput=tty
TTYPath=/dev/tty0

[Install]
WantedBy=default.target
